[submodule "third_party/libff"]
	path = third_party/libff
	url = https://github.com/torquem-ch/libff.git
	branch = win
[submodule "third_party/secp256k1"]
	path = third_party/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "bn"]
	path = bn
	url = git@github.com:paritytech/bn.git
